spring:
  cloud:
    gateway:
      discovery.locator.enabled: false
      routes:
        # Shopping Cart
        - id: shopping_cart_service_route
          uri: lb://SHOPPING-CART
          predicates:
            - Path=/api/v1/shopping-cart/**

        # Shopping Store
        - id: shopping_store_service_route
          uri: lb://SHOPPING-STORE
          predicates:
            - Path=/api/v1/shopping-store/**

        # Warehouse
        - id: warehouse_service_route
          uri: lb://WAREHOUSE
          predicates:
            - Path=/api/v1/warehouse/**

        # Order
        - id: order_service_main_route
          uri: lb://ORDER
          predicates:
            - Path=/api/v1/order/**


        # Payment
        - id: payment_service_route
          uri: lb://PAYMENT
          predicates:
            - Path=/api/v1/payment/**

        # Delivery
        - id: delivery_service_route
          uri: lb://DELIVERY
          predicates:
            - Path=/api/v1/delivery/**

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true

#  Активация actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,routes,routefilters
  endpoint:
    gateway:
      enabled: true