spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      fail-fast: true
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}
            - classpath:config/infra/{application}
            - classpath:config/commerce/{application}
server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/
    initial-instance-info-replication-interval-seconds: 5
    registry-fetch-interval-seconds: 5
  instance:
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10