services:
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_DB: analyzer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d analyzer"]
      interval: 5s
      timeout: 5s
      retries: 10

  kafka:
    image: confluentinc/confluent-local:7.4.3
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092" # for client connections
      - "9101:9101" # JMX
    restart: unless-stopped
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      CLUSTER_ID: 'K0EA9p0yEe6MkAAAAkKsEg'

  kafka-init-topics:
    image: confluentinc/confluent-local:7.4.3
    container_name: kafka-init-topics
    depends_on:
      - kafka
    command: "bash -c \
                'kafka-topics --create --topic telemetry.sensors.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic telemetry.snapshots.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic telemetry.hubs.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092'"
    init: true

  postgres-schema-init:
    image: postgres:13
    container_name: postgres-schema-init
    depends_on:
      postgres:
        condition: service_healthy
    command: |
      bash -c "
        echo 'Waiting for PostgreSQL to be ready...'
        until PGPASSWORD=postgres psql -h postgres -U postgres -d analyzer -c 'SELECT 1' > /dev/null 2>&1; do
          echo 'PostgreSQL is unavailable - sleeping'
          sleep 2
        done
        echo 'Creating ALL necessary schemas...'
        PGPASSWORD=postgres psql -h postgres -U postgres -d analyzer -c 'CREATE SCHEMA IF NOT EXISTS shopping_store;'
        PGPASSWORD=postgres psql -h postgres -U postgres -d analyzer -c 'CREATE SCHEMA IF NOT EXISTS shopping_cart;'
        PGPASSWORD=postgres psql -h postgres -U postgres -d analyzer -c 'CREATE SCHEMA IF NOT EXISTS warehouse;'
        echo 'All commerce schemas created successfully'
      "
    restart: on-failure

volumes:
  postgres_data: