spring:
  application:
    name: aggregator
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000

aggregator:
  kafka:
    bootstrap-servers: "localhost:9092"
    sensors-topic: "telemetry.sensors.v1"
    snapshots-topic: "telemetry.snapshots.v1"
    consumer-group: "aggregator-group"

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/